.mainPage {
    height: 100%;
    .mainContent {
        display: flex;
        width: 100%;
        height: 100%;
        agm-map {
            width: 100%;
            height: 100%;
        }
    }
    .bg-map {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .left-information {
        position: fixed;
        // display: flex;
        width: 330px;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 30px 0 25px;
        z-index: 10;
        border-radius: 0 20px 20px 0;
        background-image: linear-gradient(rgba(51, 57, 63, .97), rgba(28, 31, 34, .96));
        box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, .2);
        overflow-y: scroll;
        overflow-x: hidden;
        h1 {
            font-size: 68px;
            margin-bottom: 10px;
            margin-top: 20px;
            line-height: 1.1;
            color: #0fbfe8;
            font-weight: 300;
            text-shadow: 3px 6px 8px rgba(0, 0, 0, 0.15), -4px -4px 6px rgba(90, 90, 90, 0.1);
            width: 100%;
        }
        p {
            font-size: 14px;
            margin-bottom: 0px;
            color: #ccc;
            padding-bottom: 30px;
            text-align: justify;
            width: 100%;
            position: relative;
            margin-top: 0%;
            word-spacing: 0.08px;
        }
        ul.covid-information {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            color: #9a9a9a;
            font-size: 14px;
            margin: 0;
            padding: 0;
            padding-top: 20px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-radius: 20px;
            background-image: 135deg linear-gradient(rgba(51, 57, 63, .98), rgba(28, 31, 34, .96));
            box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(100, 100, 100, 0.15), inset 0 1px 0 rgba(255, 255, 255, .1);
            text-align: center;
            width: 100%;
            // height: 23%;

            li {
                font-weight: 300;
                list-style: none;
                margin-bottom: 10px;
                width: 100%;
                span {
                    display: block;
                    font-size: 2.8vw;
                    line-height: 1.1;
                    font-weight: bold;
                    color: #0fbfe8;
                    text-shadow: 3px 6px 8px rgba(0, 0, 0, 0.15), -4px -4px 6px rgba(90, 90, 90, 0.1);
                }
            }
        }
    }
}
.openChat {
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    position: fixed;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.15), -4px -4px 6px 0 rgba(90, 90, 90, 0.1), inset 0px -1px 0px rgba(28, 31, 34, 1);
    background: linear-gradient(-45deg, rgba(28, 31, 34, 0.96), rgba(51, 57, 63, 0.98));
    padding: 20px;
    margin: 0;
    border-radius: 50%;
    transition: all .3s;
    border: 1px solid transparent;
    z-index: 9;
    color: white;
    svg {
        fill: #39bfe8;
        transition: all .3s;
    }
    &:hover {
        background-color: #e5e6e6;
        transform: scale(1.2, 1.2);
        svg {
            transform: scale(1.1, 1.1);
            fill: #fff;
        }
    }
}
















