@import url('https://fonts.google.com/specimen/IBM+Plex+Mono');

.chatComponents {
    position: absolute;
    right: 0px;
    width: 275px;
    height: 100%;
    z-index: 10;
    border-radius: 20px 0px 0px 20px;
    background-image: linear-gradient(rgba(51, 57, 63, .97), rgba(28, 31, 34, .96));
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, .2);
    bottom: 0 !important;

    .chatHeader {
        border-radius: 9px 9px 0px 0px;
        display: flex;
        background-color: #0fbfe8;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px 5px 15px;
        height: 10%;
        color: white;

        .chatLogo {
            width: 70px;
            height: 35px;
            // background-image: url("../../assets/images/Logo-Negativo.png");
            background-repeat: no-repeat;
            background-size: 100%;
            margin: 7px;
        }
    }

    .bottomChat {
        height: 5%;
        background-color: #fff;
        display: flex;
        align-items: center;
        font-family: 'IBM Plex Mono';
        // justify-content: center;
        // border-radius: 0px 0px 9px 9px;
        bottom: 0;

        .inputMessage {
            // display: flex;
            // align-items: center;
            // justify-content: space-around;
            width: 90%;
            // border: 1px solid #B2BDC6;
            // background-color: #fff;
            // border-radius: 6px;
            height: 100%;
            padding: 5px;
            bottom: 0;
            font-family: 'IBM Plex Mono';
            font-size: 9.5px;
        }

        .sendButton {
            border: none;
            color: black;
            width: 25%;
            height: 100%;
            cursor: pointer;

            &:focus {
                outline: transparent;
            }

            span {
                color: #0277bd;
                font-size: 15px;
                font-weight: 700;
            }
        }

        input {
            width: 70%;
            border: none;
            border-bottom: 1px solid #B2BDC6;
            padding: 5px;
            margin-bottom: 0px;

            &:focus {
                outline: transparent;
            }
        }
    }

    .messageBody {
        position: relative;
        height: 85%;
        overflow-y: scroll;
        overflow-x: hidden;
        // background-color: #f5f5f5;
        bottom: 0px;
        padding-left: 10px;

        .parentScroll {
            width: 95%;
            padding: 10px;

            >div {
                &:last-of-type {
                    margin-bottom: 100px;
                }
            }
        }
    }

    .button-list {
        display: flex;
        width: 91%;
        padding-left: 35px;
        padding-right: 10px;
        flex-wrap: wrap;

        button {
            height: 32px;
            // background-color: #fff;
            border: 2px solid #414141;
            color: #414141;
            font-size: 14px;
            border-radius: 10px;
            margin-right: 2px;
            margin-bottom: 10px;
            font-family: 'Montserrat', sans-serif;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .boxTyping {
        display: flex;
        width: 100%;

        .message {
            background-color: #1E90FF;
            margin: 10px 10px 10px 1px;
            border-radius: 1px 10px 10px 10px;

            .progress span {
                transition: all 500ms ease;
                background: #0277bd;
                margin-right: 2px;
                height: 10px;
                width: 10px;
                display: inline-block;
                border-radius: 10px;
                animation: wave 1s ease infinite;

                &:nth-child(1) {
                    animation-delay: 0;
                }

                &:nth-child(2) {
                    animation-delay: 100ms;
                }

                &:nth-child(3) {
                    animation-delay: 200ms;
                }
            }
        }
    }

    @keyframes wave {

        0%,
        40%,
        100% {
            transform: translate(0, 0);
        }

        10% {
            transform: translate(0, -10px);
        }
    }

    .logoMessage {
        // background-image: url("../../assets/images/100-pan-logo.png");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 50px;
        width: 35px;
    }

    .balloon {
        display: flex;
        width: 100%;
    }

    .message {
        font-size: 12px;
        max-width: 240px;
        padding: 10px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        line-height: 17px;
        bottom: 0px;

        span {
            overflow-wrap: break-word;
            width: 100%;
            display: block;
            position: initial;
            font-family: 'IBM Plex Mono';
            color: white;
        }
    }

    .balloon.user {
        .message {
            background-color: #0fbfe8;
            margin: 10px;
            border-radius: 10px 1px 10px 10px;
            margin-left: auto;
            font-family: 'IBM Plex Mono';
        }
    }

    .balloon.bot {
        display: flex;
        flex-direction: row;

        .message {
            display: flex;
            background-color: rgba(0, 0, 0, 0.10);
            margin: 10px 10px 10px 1px;
            border-radius: 1px 10px 10px 10px;
            margin-right: auto;
            border: transparent;

            span {
                // margin: 10px;
                color: #fff;
                font-family: 'IBM Plex Mono';
            }
        }
    }
}