header {
    position: absolute;
    width: 100%;
    height: 70px;
    text-shadow: 5px 5px 5px rgba(33, 43, 54, .1);
    color: #193148;
    line-height: 60px;
    font-weight: 900;
    font-size: 48px;
    z-index: 10;
    padding-left: 50px;
}