header {
    position: relative;
    width: 100%;
    height: 70px;
    // border: none;
    border: 1px solid rgba(28, 28, 28, .07);
    box-shadow: 0 7px 6px 0 rgba(33, 43, 54, .04);
    font-family: "Circular Std", sans-serif;
    color: #193148;
    line-height: 22px;
    font-weight: 900;
    font-size: 24.59px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 10px;
    margin: 0 20px;

    >img {
        width: 85px;
        height: auto;
    }
}

button {
    cursor: pointer;
    color: #0277BD;
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    transition: all .3s;
    border: 0;
    font-size: 16px;
    text-decoration: underline;

    &:hover {
        color: darken(#0277BD, 10%);

        svg g rect {
            fill: darken(#0277BD, 10%);
        }
    }

    svg {
        width: 18px;
        height: 18px;
        fill: white;
        margin-left: 10px;
    }
}